{% extends 'dashboards/crud/base_crud.html' %}
{% load static %}

{% block crud_content %}
<div class="crud-header">
    <h2>{% if object %}Редактировать страницу Пресс-центра{% else %}Создать страницу Пресс-центра{% endif %}</h2>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-add">Сохранить</button>
    <a href="{% url 'dashboards:presscenterpage_list' %}" class="btn-action btn-view">Отмена</a>
</form>
{% endblock %}